<mat-card class="preview-container">
  <mat-card-header>
    <mat-card-title class="preview-title">Preview Bill</mat-card-title>
  </mat-card-header>

  <mat-card-content class="bill-image-scroll">
    <img [src]="billImage" class="bill-image" alt="Bill Preview" />
  </mat-card-content>

  <mat-card-actions class="button-group-horizontal">
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon>save</mat-icon>&nbsp;Save
    </button>
    <button mat-stroked-button color="warn" (click)="cancel()">
      <mat-icon>cancel</mat-icon>&nbsp;Cancel
    </button>
  </mat-card-actions>
</mat-card>
