<div class="mat-typography container enhanced-bills-container">
  <h2 class="headline">Your Bills</h2>

  <div class="bills-grid">
    <div class="bill-wrapper" *ngFor="let bill of bills">
      <mat-card appearance="outlined" class="bill-card">
        <mat-card-header class="header-container">
          <div class="header-left">
            <div mat-card-avatar class="bill-avatar">
              <mat-icon>receipt</mat-icon>
            </div>
            <div>
              <mat-card-title class="bill-title">
                {{ bill.title }}
              </mat-card-title>
              <mat-card-subtitle class="bill-date">
                {{ bill.date | date : "medium" }}
              </mat-card-subtitle>
            </div>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
